body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    background-color: aliceblue;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.social-media-app {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #000062;
    height: 25rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 6px;
    color:aliceblue;
    box-shadow: 10px 12px 12px lightgrey;
    gap: 2rem;
    max-width: 900px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.form label {
    font-weight: 700;
    font-size: 1.2rem;
}

.left, .right {
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 6px;
    color: #000062;
    align-self: stretch;
    height: auto;
}

.left {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;
}

.sections {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0;
}

.btn {
    border-radius: 6px;
    border: none;
    align-self: center;
    background-color: #000062;  
    color: aliceblue;
    padding: 0.4rem 2rem;
    align-self: stretch;
    font-weight: 600;
    letter-spacing: 1px;
    transition: transform 0.3s ease;
}

.btn:hover {
    background-color: black;
    transform: scale(1.1);
}

.form textarea {
    border: none;
    border-radius: 6px;
    min-width: 100%;
} 

.options i {
    cursor: pointer;
    font-size: 1rem;
    padding: 10px
}

.red::before {
    content: "Title can't be blank";
}
.green::before {
    content: "Success";
}

.red {
    background-color:#ff4545;
    border-radius: 6px;
    color: aliceblue;
    padding: 0.3rem;
    align-self: stretch;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.green {
    background-color:#45ff45;
    border-radius: 6px;
    color: #000062;
    padding: 0.3rem;
    text-align: center;
    align-self: stretch;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

/* :only-child pseudo class targets child when it is the only child of its parent */
.pagination i.fa-chevron-right {
    margin-left: auto;
}

.pagination i.fa-chevron-left {
    margin-right: auto;
}

.nums {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* center of element shift to true center */
    display: flex;
    gap: 5px;
    cursor: pointer;
}

#title {
    border: none;
    border-radius: 6px;
    min-width: 102%;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
    padding: 0.5rem 0;
}

#title::placeholder {
    padding-left: 0.5rem;
}

.post-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #1818ad;
    color: aliceblue;
    width: 100%;
    height: auto;
    display: none;
    max-width: 600px;
    min-height: 300px;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 10px 12px 12px 10px #afafd8;
}

.post-display.show {
    display: flex;
}

.social-media-app.hide {
    display: none;
}

#close {
    width: 30%;
    margin: auto;
}

.line-clamp-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* max-width: <=
    min-width: >= */

@media screen and (max-width: 1028px) {
    .social-media-app {
        width: 80%
    }
}

@media screen and (max-width: 770px) {
    .sections {
        gap: 1rem;
    }
}

@media screen and (max-width: 430px) {
    .post-display {
        max-width: 85%;
    }
    .social-media-app {
        max-width: 100%;
        height: auto;
        padding: 2rem;
    }
    .sections {
        flex-direction: column;
        gap: 2rem;
    }
    .right {
        width: auto;
        min-height: 250px;
    }
    .post-display {
        width: 100%;
        min-width: 0;
    }
    #close {
        width: 50%;
    }
}